.table-container {
  grid-area: table-area;

  overflow: auto;
  min-height: 0;
  min-width: 0;
  padding: 2rem;
  outline: 1px solid #ccc;
}

table {
  width: auto;
  border-collapse: collapse;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
}

th, td {
  border: 1px solid #ccc;
  padding: 6px 10px;
  text-align: center;
}

th {
  background-color: #f0f0f0;
  font-weight: 600;
}
