* {
  box-sizing: border-box;
}

.grid-container {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  grid-template-areas: 
    'input-area visualize-area'
    'table-area visualize-area';

  grid-template-rows: auto 1fr;
  height: 100dvh;

  padding: 1.5rem;
}
